{% extends "base.html" %}
{% block titulo %}Cadastrar Evento{% endblock %}

{% block conteudo %}
<div class="card shadow p-4 col-md-6 mx-auto">
    <h3 class="mb-3">Cadastrar Evento</h3>

    <form method="POST">
        {{ form.hidden_tag() }}

        <div class="mb-3">
            {{ form.titulo.label }}
            {{ form.titulo(class="form-control") }}
        </div>

        <div class="mb-3">
            {{ form.descricao.label }}
            {{ form.descricao(class="form-control") }}
        </div>

        <div class="mb-3">
            {{ form.data_inicio.label }}
            {{ form.data_inicio(class="form-control") }}
        </div>

        <div class="mb-3">
            {{ form.data_fim.label }}
            {{ form.data_fim(class="form-control") }}
        </div>

        <button class="btn btn-primary">{{ form.submit.label.text }}</button>
    </form>
</div>
{% endblock %}
