{% extends "base.html" %}
{% block titulo %}Cargos - SIGP{% endblock %}

{% block conteudo %}

<div class="d-flex justify-content-between align-items-center mb-3">
    <h3 class="text-primary">
        <i class="fa-solid fa-id-card me-2"></i>
        Cargos
    </h3>

    <a href="{{ url_for('cargos_cadastrar') }}" class="btn btn-primary">
        <i class="fa-solid fa-plus me-1"></i> Novo Cargo
    </a>
</div>

<div class="card shadow">
    <div class="card-body">

        <table class="table table-hover align-middle">
            <thead class="table-primary">
                <tr>
                    <th>ID</th>
                    <th>Nome</th>
                    <th>Descrição</th>
                    <th class="text-end">Ações</th>
                </tr>
            </thead>

            <tbody>
                {% for c in cargos %}
                <tr>
                    <td>{{ c.id }}</td>
                    <td>{{ c.nome }}</td>
                    <td>{{ c.descricao or '-' }}</td>

                    <td class="text-end">

                        <div class="d-flex justify-content-end gap-2">

                            <a href="{{ url_for('cargos_editar', id=c.id) }}"
                            class="btn btn-sm btn-warning">
                                <i class="fa-solid fa-pen"></i>
                            </a>

                            <a href="{{ url_for('cargos_delete', id=c.id) }}"
                            class="btn btn-sm btn-danger">
                                <i class="fa-solid fa-trash"></i>
                            </a>

                        </div>


                    </td>
                </tr>

                {% else %}
                <tr>
                    <td colspan="4" class="text-center text-muted">
                        Nenhum cargo cadastrado.
                    </td>
                </tr>
                {% endfor %}
            </tbody>

        </table>

    </div>
</div>

{% endblock %}
