{% extends "base.html" %}
{% block titulo %}Cadastrar Usuário - SIGP{% endblock %}

{% block conteudo %}

<h3 class="text-primary"><i class="fa-solid fa-user-plus me-2"></i>Novo Usuário</h3>

<div class="card shadow mt-3">
    <div class="card-body">

        <form method="POST">
            {{ form.hidden_tag() }}

            <div class="mb-3">
                {{ form.username.label(class="form-label") }}
                {{ form.username(class="form-control") }}
            </div>

            <div class="mb-3">
                {{ form.email.label(class="form-label") }}
                {{ form.email(class="form-control") }}
            </div>

            <div class="mb-3">
                {{ form.password.label(class="form-label") }}
                {{ form.password(class="form-control") }}
            </div>

            <div class="mb-3">
                {{ form.password2.label(class="form-label") }}
                {{ form.password2(class="form-control") }}
            </div>

            <button type="submit" class="btn btn-primary">
                <i class="fa-solid fa-check me-1"></i> Salvar
            </button>

            <a href="{{ url_for('usuarios_listar') }}" class="btn btn-secondary ms-2">
                Voltar
            </a>
        </form>

    </div>
</div>

{% endblock %}
