/* Tema azul da Prefeitura de Pureza */
:root {
    --sigp-blue: #0d6efd;   /* azul bootstrap */
    --sigp-blue-dark: #0a58ca;
}

/* Sidebar */
#sidebar {
    background-color: var(--sigp-blue);
}

#sidebar .nav-link:hover {
    background: var(--sigp-blue-dark);
}

/* Layout com sidebar recolhível */
#sidebar.collapsed {
    width: 70px;
    transition: 0.3s;
}

#sidebar.collapsed .nav-link span {
    display: none;
}

.card {
    border-radius: 12px;
}

/* Remove fundo branco e deixa destaque suave */
.active-link {
    background-color: rgba(255, 255, 255, 0.25) !important;
    border-radius: 6px;
    font-weight: 600;
}

#sidebar img {
    max-width: 90px !important;
    height: auto;
}

/* Sidebar */
#sidebar {
    width: 240px;
    transition: all .3s ease;
}

#sidebar.collapsed {
    width: 0;
    padding: 0;
    opacity: 0;
    overflow: hidden;
}

/* Link ativo */
.active-link {
    background-color: rgba(255, 255, 255, 0.2) !important;
    border-radius: 6px;
}

/* calender */
#calendar {
    min-height: 520px !important;
}
