<nav id="sidebar" class="bg-primary vh-100 d-flex flex-column p-3">

    <!-- Logo no topo -->
    <div class="text-center mb-4">
        <img src="{{ url_for('static', filename='img/prefeitura-logo.png') }}"
             alt="Logo Prefeitura"
             class="img-fluid rounded"
             style="max-width: 130px;">
    </div>

    {% if current_user.is_authenticated %}
    <!-- Menu principal (somente se estiver logado) -->
    <ul class="nav nav-pills flex-column mb-auto">

        <li class="nav-item">
            <a href="{{ url_for('dashboard') }}"
               class="nav-link text-white {% if request.endpoint == 'dashboard' %}active-link{% endif %}">
                <i class="fa-solid fa-house me-2"></i> Início
            </a>
        </li>

        <!-- Usuários (somente admin) -->
        {% if current_user.role == 'admin' %}
        <li>
            <a href="{{ url_for('usuarios_listar') }}"
            class="nav-link text-white {% if 'usuarios' in request.endpoint %}active-link{% endif %}">
                <i class="fa-solid fa-users me-2"></i> Usuários
            </a>
        </li>
        {% endif %}


        <!-- Servidores (todos podem ver) -->
        <li>
            <a href="{{ url_for('servidores_listar') }}"
            class="nav-link text-white {% if 'servidores' in request.endpoint %}active-link{% endif %}">
                <i class="fa-solid fa-id-card me-2"></i> Servidores
            </a>
        </li>


        <!-- Secretarias (gestor e admin) -->
        {% if current_user.role in ['admin', 'gestor'] %}
        <li>
            <a href="{{ url_for('secretarias_listar') }}"
            class="nav-link text-white {% if 'secretarias' in request.endpoint %}active-link{% endif %}">
                <i class="fa-solid fa-building-columns me-2"></i> Secretarias
            </a>
        </li>
        {% endif %}


        <!-- Cargos (gestor e admin) -->
        {% if current_user.role in ['admin', 'gestor'] %}
        <li>
            <a href="{{ url_for('cargos_listar') }}"
            class="nav-link text-white {% if 'cargos' in request.endpoint %}active-link{% endif %}">
                <i class="fa-solid fa-briefcase me-2"></i> Cargos
            </a>
        </li>
        {% endif %}

        <li>
            <a href="{{ url_for('noticias_listar') }}"
               class="nav-link text-white {% if 'noticias' in request.endpoint %}active-link{% endif %}">
                <i class="fa-solid fa-newspaper me-2"></i> Notícias
            </a>
        </li>

        {% if current_user.role == 'admin' %}
        <li>
            <a href="{{ url_for('atividades_listar') }}"
            class="nav-link text-white {% if 'atividades' in request.endpoint %}active-link{% endif %}">
                <i class="fa-solid fa-clock-rotate-left me-2"></i> Atividades
            </a>
        </li>
        {% endif %}

        <!-- Calendário (todos os usuários) -->
        <li>
            <a href="{{ url_for('eventos_listar') }}"
               class="nav-link text-white {% if request.endpoint == 'calendario' %}active-link{% endif %}">
                <i class="fa-solid fa-calendar-days me-2"></i> Calendário
            </a>
        </li>

        <!-- Calendário (todos os usuários) -->
        <li>
            <a href="{{ url_for('protocolos_listar') }}"
               class="nav-link text-white {% if request.endpoint == 'calendario' %}active-link{% endif %}">
                <i class="fa-solid fa-calendar-days me-2"></i> Protocolos
            </a>
        </li>

        <!-- Calendário (todos os usuários) -->
        <li>
            <a href="{{ url_for('tramitacoes_listar') }}"
               class="nav-link text-white {% if request.endpoint == 'calendario' %}active-link{% endif %}">
                <i class="fa-solid fa-calendar-days me-2"></i> Tramitações
            </a>
        </li>

        <li>
            <a href="{{ url_for('logs') }}"
               class="nav-link text-white {% if request.endpoint == 'calendario' %}active-link{% endif %}">
                <i class="fa-solid fa-calendar-days me-2"></i> Logs
            </a>
        </li>

    </ul>

    <hr class="text-white">

    <!-- Sair -->
    <a href="{{ url_for('logout') }}" class="nav-link text-white mt-auto">
        <i class="fa-solid fa-right-from-bracket me-2"></i> Sair
    </a>

    {% endif %}

</nav>
