{% extends "base.html" %}
{% block titulo %}Alterar Senha{% endblock %}

{% block conteudo %}

<div class="card shadow-lg border-0 p-4 col-12 col-lg-5 mx-auto">

    <h3 class="mb-4 text-center fw-bold">
        <i class="fa-solid fa-key text-warning"></i> Alterar Senha
    </h3>

    <form method="POST">
        {{ form.hidden_tag() }}

        <div class="mb-3">
            {{ form.senha_atual.label(class="form-label fw-bold") }}
            {{ form.senha_atual(class="form-control form-control-lg", placeholder="Digite sua senha atual") }}
        </div>

        <div class="mb-3">
            {{ form.nova_senha.label(class="form-label fw-bold") }}
            {{ form.nova_senha(class="form-control form-control-lg", placeholder="Nova senha") }}
        </div>

        <div class="mb-3">
            {{ form.confirmar_senha.label(class="form-label fw-bold") }}
            {{ form.confirmar_senha(class="form-control form-control-lg", placeholder="Confirme a nova senha") }}
        </div>

        <button class="btn btn-warning w-100 py-2 fw-bold">
            <i class="fa-solid fa-rotate"></i> Alterar Senha
        </button>

    </form>

</div>

{% endblock %}
